<blockquote class="blockquote">
  <p class="mb-0">Todo List:</p>
</blockquote>

<div>
  <button class="btn btn-success mb-3" [routerLink]="['/', 'todo-add']">Add Todo</button>
</div>

<div *ngIf="todos.length > 0; then todosListBlock else noDataBlock"></div>

<ng-template #todosListBlock>

  <div *ngFor="let todo of todos">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          {{ todo.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ todo.userName }}
        </h6>
        <a [routerLink]="['/', 'todo-edit' , todo.id]" class="card-link float-right">Edit</a>
        <a [routerLink]="['/', 'todo-details' , todo.id]" class="card-link float-right mr-3">Open</a>
      </div>
    </div>

  </div>

</ng-template>

<ng-template #noDataBlock>
  No data found.
</ng-template>
